*
!.gitignore
!*/
*/.*
!*.c
!*.cc
!*.cpp
!*.h
!*.hpp
!*.java
!*.rb
!*.py
!*.sh
!*.txt
!*.json
!*.lisp
!*.lsp
!*.mk
!*.s
!*.b
!*.doc
!*.schema
!*.chip
!*.poke
!makefile
!aux
ML/*
LIB/lib/*
LIB/boost/*

