*
!.gitignore
!*/
*/.*
!*.c
!*.cc
!*.cpp
!*.h
!*.hpp
!*.java
!*.rb
!*.py
!*.php
!*.js
!*.html
!*.sh
!*.txt
!*.json
!*.lisp
!*.lsp
!*.cl
!*.mk
!*.s
!*.b
!*.l
!*.doc
!*.schema
!*.chip
!*.poke
!*.m3u
!makefile
!aux
ML/*
LIB/lib/*
LIB/boost/*

